:root {
    --primary-color: #8c222b;
    --secondary: #d0d2d4;
    --white: #fff;
    --offset: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #292929;

}

.body {
    display: flex;
    width: 100%;
    font-family: "Helvetica Neue","Arial",
    sans-serif;
    padding: 3rem;
}

.container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 90%;
    gap: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 5rem;
    max-width: 50rem;
    justify-content: center;
}

.card {
    position: relative;
    overflow: hidden;
    max-width: 18rem;
    width: 100%;
    color: #fff;
    background: #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card img {
    max-width: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    vertical-align: top;
    transition: all 0.3s ease;
}

.corner::before,
.corner::after {
    position: absolute;
    content: '';
    background: #fff;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease;
}

.right-top::before,
.right-top::after {
    top: var(--offset);
    right: var(--offset);
}

.right-bottom::before,
.right-bottom::after {
    bottom: var(--offset);
    right: var(--offset);
}

.left-bottom::before,
.left-bottom::after {
    bottom: var(--offset);
    left: var(--offset);
}

.left-top::before,
.left-top::after {
    top: var(--offset);
    left: var(--offset);
}

.corner::before {
    width: 0;
    height: 1px;
}

.corner::after {
    height: 0;
    width: 1px;
}

.card figcaption {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    width: 100%;
    transform: translateY(-50%) translateX(-50%);
}

.card h3 {
    font-size: 1.1rem;
    font-weight: bold;
    opacity: 0;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    transition: all 0.4s ease;
}

.card p {
    opacity: 0;
    font-size: 0.8rem;
    transition: all 0.4s ease;
}

.card:hover img {
    zoom: 1;
    filter: alpha(opacity=20);
    opacity: 0.3;
}

.card:hover .corner::before {
    width: 40px;
    opacity: 1;
    transition-delay: 0.2s;
}

.card:hover .corner::after {
    height: 40px;
    opacity: 1;
    transition-delay: 0.2s;
}

.card:hover h3 {
    opacity: 1;
    transition-delay: 0.3s;
}

.card:hover p {
    opacity: 1;
    transition-delay: 0.35s;
}

  /* Buscador =================================== */

  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
  }
  
  .input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    background-color: #2c2929;
    box-shadow: 0px 0px 3px #2c2929;
    padding-right: 40px;
    color: #fff;
  }
  
  .input::placeholder,
  .input {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: 0.2s linear;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #d5d7d7;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  }
  

/* Tarjetas JS*/

  .mostrar-lista{
    display: none;
  }

  .productos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* Favorito ================ */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  
  .btn::after {
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
  
  .icono {
    width: 30px;
    height: 30px;
    transition: .2s linear;
  }
  
  .icono path {
    fill: rgb(33, 33, 33);
    transition: .2s linear;
  }

  .btn:hover > .icono {
    transform: scale(1.2);
  }
  
  .btn:hover > .icono path {
    fill: rgb(177, 139, 189);
  }
  
  .btn:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }
  
  



/* ============ Modal */

.modal-content{
    color: rgb(224, 221, 219);
}



@media (min-width: 600px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width: 600px) {

    .navigation {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .navigation--mobile {
        top: var(--navbar-height);
        position: absolute;
        right: 0;
        display: flex;
        padding: 5rem 3.5rem;
        min-height: 100%;
        background-color: var(--background);
        gap: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0.95;
        animation: fadein 0.3s forwards;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
            width: 0;
            height: 0;
        }

        100% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }
    }

    .navigation--mobile--fadeout {
        animation: fadeout 300ms forwards;
    }

    @keyframes fadeout {
        0% {
            opacity: 1;
            width: 100%;
            height: calc(100vh - var(--navbar-height));
        }

        100% {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

}